<html>

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>User Form</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="../../plugins/fontawesome-free/css/all.min.css"
    />
    <!-- Ionicons -->
    <link
      rel="stylesheet"
      href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"
    />
    <!-- daterange picker -->
    <link
      rel="stylesheet"
      href="../../plugins/daterangepicker/daterangepicker.css"
    />
    <!-- iCheck for checkboxes and radio inputs -->
    <link
      rel="stylesheet"
      href="../../plugins/icheck-bootstrap/icheck-bootstrap.min.css"
    />
    <!-- Bootstrap Color Picker -->
    <link
      rel="stylesheet"
      href="../../plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css"
    />
    <!-- Tempusdominus Bbootstrap 4 -->
    <link
      rel="stylesheet"
      href="../../plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css"
    />
    <!-- Select2 -->
    <link rel="stylesheet" href="../../plugins/select2/css/select2.min.css" />
    <link
      rel="stylesheet"
      href="../../plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css"
    />
    <!-- Bootstrap4 Duallistbox -->
    <link
      rel="stylesheet"
      href="../../plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css"
    />
    <!-- Theme style -->
    <link rel="stylesheet" href="../../dist/css/adminlte.min.css" />
    <!-- Google Font: Source Sans Pro -->
    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700"
      rel="stylesheet"
    />

    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"
      integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <br />
    <div class="container">
      <form method="POST" enctype="multipart/form-data" action="userFormProcess">
        <div class="card card-success">
          <div class="card-header">
            <h3 class="card-title">User Form</h3>
          </div>
          <p style="background-color: green; color: white;">{{msg}}</p>
          <div class="card-body">
            <div class="form-group">
              <label>First Name</label>

              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i
                      class="far fa-square"
                    ></i></span>
                </div>
                <input
                  type="text"
                  name="fname"
                  id="fname"
                  class="form-control"
                  placeholder="Enter First Name"
                />
              </div>
              <!-- /.input group -->
            </div>
            <!-- /.form group -->

            <div class="form-group">
              <label>Last Name</label>

              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i
                      class="far fa-square"
                    ></i></span>
                </div>
                <input
                  type="text"
                  name="lname"
                  id="lname"
                  class="form-control"
                  placeholder="Enter Last Name"
                />
              </div>
              <!-- /.input group -->
            </div>
            <!-- /.form group -->

            <!-- phone mask -->
            <div class="form-group">
              <label>Address</label>

              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i
                      class="fas fa-home"
                    ></i></span>
                </div>
                <textarea
                  name="address"
                  id="address"
                  class="form-control"
                  placeholder="Enter Your Address"
                ></textarea>
              </div>
              <!-- /.input group -->
            </div>
            <!-- /.form group -->

            <div class="form-group">
              <label>Gender</label>
              <div class="input-group">
                <span><input type="radio" name="gender" id="gender" value="male" />Male</span>
              </div>
              <div class="input-group">
                <span><input
                    type="radio"
                    name="gender"
                    id="gender"
                    value="female"
                  />Female</span>
              </div>
              <!-- /.input group -->
            </div>
            <!-- /.form group -->

            <div class="form-group">
              <label>Hobby</label>
              <div class="input-group">
                <span><input
                    type="checkbox"
                    name="singing"
                    id="hobby"
                    value="singing"
                  />Singing</span>
              </div>
              <div class="input-group">
                <span><input
                    type="checkbox"
                    name="dancing"
                    id="hobby"
                    value="dancing"
                  />Dancing</span>
              </div>
              <div class="input-group">
                <span><input
                    type="checkbox"
                    name="swimming"
                    id="hobby"
                    value="swimming"
                  />Swimming</span>
              </div>
              <div class="input-group">
                <span><input
                    type="checkbox"
                    name="coding"
                    id="hobby"
                    value="coding"
                  />Coding</span>
              </div>
              <div class="input-group">
                <span><input
                    type="checkbox"
                    name="other"
                    id="hobby"
                    value="other"
                  />Other</span>
              </div>
              <!-- /.input group -->
            </div>
            <!-- /.form group -->

            <div class="form-group">
              <label>Interest Area</label>

              <div class="input-group">

                <select
                  class="form-control select2bs4"
                  style="width: 100%;"
                  name="interestarea"
                  id="interestarea"
                >
                  <option value="Code">Code</option>
                  <option value="crafts">Crafts</option>
                  <option value="mathematics">Mathematics</option>
                </select>
              </div>
              <!-- /.input group -->
            </div>
            <!-- /.form group -->

            <div class="form-group">
              <label>Image</label>

              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i
                      class="fas fa-square"
                    ></i></span>
                </div>
                <input
                  type="file"
                  name="image"
                  id="image"
                  class="form-control"
                />
              </div>
              <!-- /.input group -->
            </div>
            <!-- /.form group -->
            <input class="btn btn-success" type="submit" value="Add User" />
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->

      </form>
    </div>
    <!-- jQuery -->
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Select2 -->
    <script src="../../plugins/select2/js/select2.full.min.js"></script>
    <!-- Bootstrap4 Duallistbox -->
    <script
      src="../../plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js"
    ></script>
    <!-- InputMask -->
    <script src="../../plugins/moment/moment.min.js"></script>
    <script
      src="../../plugins/inputmask/min/jquery.inputmask.bundle.min.js"
    ></script>
    <!-- date-range-picker -->
    <script src="../../plugins/daterangepicker/daterangepicker.js"></script>
    <!-- bootstrap color picker -->
    <script
      src="../../plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"
    ></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script
      src="../../plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"
    ></script>
    <!-- Bootstrap Switch -->
    <script
      src="../../plugins/bootstrap-switch/js/bootstrap-switch.min.js"
    ></script>
    <!-- AdminLTE App -->
    <script src="../../dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="../../dist/js/demo.js"></script>
    <!-- Page script -->

{{!-- jquery validation and ajax call --}}
    <script>
        $(document).ready(function(){
          $("form").submit(function(event){
            var formData = {
              fname : $("#fname").val(),
              lname : $("#lname").val(),
              address : $("#address").val(),
              gender : $("#gender:checked").val(),
              hobby : $("#hobby:checked").val(),
              interestarea : $("#interestarea").val(),
              image : $("#image").val()
            }
            $(".error-msg").remove();
            if (formData.fname.length < 1) {  
              $('#fname').after('<span class="error-msg text-danger">Your FirstName is required</span>');  
            }  
            if (formData.lname.length < 1) {  
              $('#lname').after('<span class="error-msg text-danger">Your LastName is required</span>');  
            }  
            event.preventDefault();
            console.log("form body data", formData)
            // ajax call 
            $.ajax({
              type: "POST",
              url: "http://127.0.0.1:3000/userFormProcess",
              data: formData,
              dataType: "json",
            }).done(function(data){
              console.log("data : ", data);
            })
          })
        })
    </script>   
  </body>

</html>