<div class="services-breadcrumb">
		<div class="agile_inner_breadcrumb">
			<div class="container">
				<ul class="w3_short">
					<li>
                        <a href="#" data-toggle="modal" data-target="#myModal1">
							<span class="fa fa-unlock-alt" aria-hidden="true"></span> Sign In </a>
						<i>|</i>
					</li>
					<li>
                        <a href="#" data-toggle="modal" data-target="#myModal2">
							<span class="fa fa-pencil-square-o" aria-hidden="true"></span> Sign Up </a>
							<i>|</i>
                    </li>
					<li>
                        <a href="/forgot_password">
							<span class="fa fa-question" aria-hidden="true"></span> Forgot Password </a>
                    </li>
				</ul>
			</div>
		</div>
	</div> 

