<html>

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Ajax Form</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="../../plugins/fontawesome-free/css/all.min.css"
    />
    <!-- Ionicons -->
    <link
      rel="stylesheet"
      href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"
    />
    <!-- daterange picker -->
    <link
      rel="stylesheet"
      href="../../plugins/daterangepicker/daterangepicker.css"
    />
    <!-- iCheck for checkboxes and radio inputs -->
    <link
      rel="stylesheet"
      href="../../plugins/icheck-bootstrap/icheck-bootstrap.min.css"
    />
    <!-- Bootstrap Color Picker -->
    <link
      rel="stylesheet"
      href="../../plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css"
    />
    <!-- Tempusdominus Bbootstrap 4 -->
    <link
      rel="stylesheet"
      href="../../plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css"
    />
    <!-- Select2 -->
    <link rel="stylesheet" href="../../plugins/select2/css/select2.min.css" />
    <link
      rel="stylesheet"
      href="../../plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css"
    />
    <!-- Bootstrap4 Duallistbox -->
    <link
      rel="stylesheet"
      href="../../plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css"
    />
    <!-- Theme style -->
    <link rel="stylesheet" href="../../dist/css/adminlte.min.css" />
    <!-- Google Font: Source Sans Pro -->
    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700"
      rel="stylesheet"
    />
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>

  </head>

  <body>
    <form method="POST">
      <div class="card card-danger">
        <div class="card-header">
          <h3 class="card-title">Address</h3>
        </div>
        <p style="background-color: green; color: white;">{{msg}}</p>
        <div class="card-body">
              <div class="form-group">
            <label>Select State</label>
            <div class="input-group">
              <select
                class="form-control select2bs4"
                style="width: 100%;"
                name="_state"
                required
                id="state_dropdown"
              >
               {{#each state_array}}
                <option value='{{_id}}'>{{state_name}}</option>
                 {{/each}}
              </select>
            </div>
            <!-- /.input group -->
          </div>
          <!-- /.form group -->
            <div class="form-group">
            <label>Select City</label>
            <div class="input-group">
              <select
                class="form-control select2bs4"
                style="width: 100%;"
                name="_city";
                id="city_dropdown"
                required
              >
              
              </select>
            </div>
            <!-- /.input group -->
          </div>
          <!-- /.form group -->
           <div class="form-group">
            <label>Select Area</label>
            <div class="input-group">
              <select
                class="form-control select2bs4"
                style="width: 100%;"
                name="_area";
                id="area_dropdown"
                required
              >
            
              </select>
            </div>
            <!-- /.input group -->
          </div>
          <!-- /.form group -->  
        
          <input class="btn btn-success" type="submit" value="Submit" />
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

    </form>

    <!-- jQuery -->
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Select2 -->
    <script src="../../plugins/select2/js/select2.full.min.js"></script>
    <!-- Bootstrap4 Duallistbox -->
    <script
      src="../../plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js"
    ></script>
    <!-- InputMask -->
    <script src="../../plugins/moment/moment.min.js"></script>
    <script
      src="../../plugins/inputmask/min/jquery.inputmask.bundle.min.js"
    ></script>
    <!-- date-range-picker -->
    <script src="../../plugins/daterangepicker/daterangepicker.js"></script>
    <!-- bootstrap color picker -->
    <script
      src="../../plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"
    ></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script
      src="../../plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"
    ></script>
    <!-- Bootstrap Switch -->
    <script
      src="../../plugins/bootstrap-switch/js/bootstrap-switch.min.js"
    ></script>
    <!-- AdminLTE App -->
    <script src="../../dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="../../dist/js/demo.js"></script>
    <!-- Page script -->
    <script>
      $(document).ready(function() {
            $('#state_dropdown').on('change', function() {
            var state_id = this.value;
            $("#city_dropdown").html('');
                $.ajax({
                url: "http://localhost:3000/admin/area/getcity/"+state_id,
                type: "GET",
                dataType: 'json',
            success: function(data) {
              console.log("data is : ", data);
            $('#city_dropdown').html('<option value="">Select City</option>');
            console.log("city array : ",data);
              $.each(data.city_array, function(key, value) {
              $("#city_dropdown").append('<option value="' + value._id + '">' + value.city_name + '</option>');
              });
              $('#area_dropdown').html('<option value="">Select Area</option>');
              }
            });
            });
            $('#city_dropdown').on('change', function() {
              var city_id = this.value;
              $("#area_dropdown").html('');
            $.ajax({
              url: "http://localhost:3000/admin/area/getarea/"+city_id,
              type: "GET",
              data: {
              name: 'city',
              city_id: city_id,
            },
              dataType: 'json',
            success: function(data) {
              $('#area_dropdown').html('<option value="">Select Area</option>');
                console.log("area array : ",data);
              $.each(data.area_array, function(key, value) {
              $("#area_dropdown").append('<option value="' + value._id + '">' + value.area_name + '</option>');
              });
            }
            });
            });
      }); 
    </script>


{{!-- https://www.tutsmake.com/node-js-dependent-dropdown-example-tutorial/ --}}
</body>

</html>